extends: default

rules:
  line-length:
    max: 120
    level: warning
  document-start:
    present: false
  truthy:
    level: warning
  brackets:
    level: warning
  comments-indentation:
    level: warning